<!-- begin section -->
<section class="section section--simple section--color section--pad-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <!-- begin auth-block -->
        <div class="auth-block">
          <div class="auth-block__icon auth-block__icon-lg">
            {{ mixins.icon('mail') }}
          </div>

          <div class="auth-block__text auth-block__text-mb-sm">
            На E-mail <strong>krohaaa.ua@gmail.com</strong> відправлено лист. Перейдіть
            за посиланням у листі для підтвердження свого E-mail
          </div>

          <div class="auth-block__links">
            <a href="#" class="auth-link">Лист не прийшов, відправити ще раз</a>
          </div>
        </div>
        <!-- end auth-block -->
      </div>
    </div>
  </div>
  
</section>
<!-- end section -->