<!-- begin section -->
<section class="section section--simple section--color">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <div class="section__title is-center">
          <h2 class="h2 h2--lg">Відновлення пароля</h2>
        </div>

        <!-- begin form-block -->
        <div class="form-block form-block--sm form form--block">
          <form>
            <div class="form-block__title">
              <h5 class="h5 h5--ttn">Забули ваш пароль?</h5>
              <div class="text text--xss text--gray">Ви можете відновити втрачену інформацію облікового запису, використовуючи форму нижче. Введіть дійсну адресу електронної пошти, інформація про ваш обліковий запис буде надіслано вам незабаром.</div>
            </div>

            <div class="form__row">
              

              <div class="form__field form__field-full form__field-mb-lg">
                {{ mixins.input(
                  name = 'input',
                  mod = 'input--sm',
                  type = 'email',
                  placeholder = 'Введіть E-mail',
                  label = 'E-mail<sup>*</sup>'
                ) }}
              </div>

              <div class="form__field form__field-full">
                {{ mixins.btn(
                  title = 'надіслати',
                  href= false,
                  mod = 'btn--full'
                ) }}

                <div class="form__conf">
                  Створюючі новий аккаунт ви погоджуєтесь з нашими  <a href="#">загальними положеннями та умовами</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- end form-block -->
      </div>
    </div>

    
  </div>
</section>
<!-- end section -->