<!-- begin section -->
<section class="section section--simple section--pad-lg section--color">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
        <!-- begin auth-block -->
        <div class="auth-block">
          <div class="auth-block__icon">
            {{ mixins.icon('success') }}
          </div>

          <div class="auth-block__title">
            <h2 class="h2 h2--lg">вітаємо, Максим!</h2>
          </div>

          <div class="auth-block__text">Ви успішно зареєструвалися і тепер можете скористатися своїм <a href="#">власним кабінетом</a></div>

          <div class="auth-block__links">
            <div class="auth-block__link">
              <a href="#" class="auth-link">Перейти на головну сторінку</a>
            </div>
            <div class="auth-block__link">
              <a href="#" class="auth-link">Перейти до каталогу</a>
            </div>   
          </div>
        </div>
        <!-- end auth-block -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->