h1, h2, h3, h4, h5, h6
  font-weight: 400

.h1, h1
  text-transform: uppercase
  color: #fff
  +bold
  font-size: 48px
  line-height: 1
  +css-lock(32, 48, 576, 1199, font-size)

.h2, h2
  text-transform: uppercase
  +bold
  color: $c-black
  font-size: 21px
  line-height: 1.2
  +css-lock(18, 21, 576, 1199, font-size)
  &--lg
    +css-lock(21, 24, 576, 1199, font-size)

.h3, h3
  font-size: 16px
  +bold
  color: $c-black
  text-transform: uppercase

.h4, h4
  
.h5, h5
  text-transform: uppercase
  +bold
  font-size: 18px
  +xs
    font-size: 16px
  &--white
    color: #fff

.h6, h6
  +bold
  text-transform: uppercase
  color: $c-black
  font-size: 15px
  +xs
    font-size: 14px

.text
  font-size: 15px
  +light
  color: $c-text
  text-align: justify
  +xs
    font-size: 14px

  &--white
    color: #fff
  &--ttu
    text-transform: uppercase
  &--gray
    color: $c-gray
  &--black
    color: $c-black
  &--sm
    font-size: 14px

.title-underlined
  position: relative
  padding-bottom: 14px
  +before
    position: absolute
    width: 53px
    height: 1px
    background-color: $c-text
    bottom: 0
    left: 0
  +xs
    padding-bottom: 8px

  &--center
    +before
      left: 50%
      transform: translate(-50%, 0)
  &--white
    +before
      background-color: #fff
  &--long
    +before
      width: 170px
      background-color: $c-accent
