h1, h2, h3, h4, h5, h6
  font-weight: 400

.h1, h1
  text-transform: uppercase
  color: #fff
  +bold
  font-size: 48px
  line-height: 1
  +css-lock(32, 48, 576, 1199, font-size)

.h2, h2
  text-transform: uppercase
  +bold
  color: $c-black
  font-size: 21px
  line-height: 1.2
  +css-lock(18, 21, 576, 1199, font-size)
  &--lg
    +css-lock(21, 24, 576, 1199, font-size)
  &--white
    color: #fff
  &--ttn
    text-transform: none
  &--light
    +light
    letter-spacing: -.01em

.h2-subttl
  &--sm
    font-size: 12px
    +light
    color: #a5a5a5

.h3, h3
  font-size: 16px
  +bold
  color: $c-black
  text-transform: uppercase

.h4, h4
  
.h5, h5
  text-transform: uppercase
  +bold
  font-size: 18px
  color: $c-text
  +xs
    font-size: 16px
  &--white
    color: #fff
  &--gray
    color: #a5a5a5
  &--ttn
    text-transform: none

.h6, h6
  +bold
  text-transform: uppercase
  color: $c-black
  font-size: 15px
  +xs
    font-size: 14px

.text
  font-size: 15px
  +light
  color: $c-text
  text-align: justify
  +xs
    font-size: 14px

  &--white
    color: #fff
  &--ttu
    text-transform: uppercase
  &--gray
    color: $c-gray
  &--black
    color: $c-black
  &--sm
    font-size: 14px
  &--xs
    font-size: 12px
    line-height: 2
    +md
      line-height: 1.4
  &--xss
    font-size: 12px

.text-block
  +clr
  img
    float: left
    margin-right: 30px
    margin-bottom: 15px
  blockquote
    color: $c-accent
    +italic-light
    padding-top: 20px
    padding-bottom: 20px
    +md
      padding-top: 10px
      padding-bottom: 10px
  p
    margin-bottom: 20px
    +md
      margin-bottom: 15px

.title-underlined
  position: relative
  padding-bottom: 14px
  +before
    position: absolute
    width: 53px
    height: 1px
    background-color: currentColor
    bottom: 0
    left: 0
  +xs
    padding-bottom: 8px

  &--center
    +before
      left: 50%
      transform: translate(-50%, 0)
  &--white
    +before
      background-color: #fff
  &--long
    +before
      width: 170px
      background-color: $c-accent
  &--inherit
    +before
      background-color: currentColor
  &--sm
    padding-bottom: 8px
