---
title: product-page
page: product-page
hero: {
  mod: '',
  bgImage: 'bg-hero-sm.jpg'
}
search: {
  sm: true
}
parts: {
  white: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}
  {% include "partials/_breadcrumbs.html" %}
  {% include "partials/_item-gallery.html" %}
  {% include "partials/tables/_table-comp.html" %}
  {% include "partials/_parts.html" %}
  {% include "partials/_features.html" %}
  {% include "partials/_footer.html" %}
{% endblock %}


