{%set
features = [
  { img: 'item-1.jpg', title: 'наша команда' },
  { img: 'item-2.jpg', title: 'оплата та доставка' },
  { img: 'item-3.jpg', title: 'наша політика' }
]
%}

{%set
partners = [
  { img: '1.png' },
  { img: '2.png' },
  { img: '3.png' },
  { img: '4.png' },
  { img: '5.png' },
  { img: '6.png' },
  { img: '7.png' },
  { img: '8.png' }
]
%}

{%set
team = [
  { img: 'team-1.jpg' },
  { img: 'team-2.jpg' },
  { img: 'team-3.jpg' },
  { img: 'team-4.jpg' },
  { img: 'team-1.jpg' },
  { img: 'team-2.jpg' },
  { img: 'team-3.jpg' },
  { img: 'team-4.jpg' }
]
%}

<!-- begin section -->
<section class="section section--no-pad">
  <div class="section__block has-no-pt">
    <div class="container">
      <div class="ssection__title">
        <h2 class="h2--lg">про олмакс</h2>
      </div>

      <div class="text terxt--gray">Електромобілі - це комфортні, сучасні та екологічно чисті автомобілі, які приводяться в рух електродвигуном, а не двигуном внутрішнього згоряння. Електромобілі працюють за допомогою сучасних батарей і чистої відновлюваної енергії електрики.</div>
    </div>
  </div>  

  <div class="section__gray-block section__block">
    <div class="container">
      <div class="section__title title-underlined title-underlined--long">
        <h2 class="h2--lg">наша місія</h2>
        <div class="text">Чому ми існуємо</div>
      </div>

      <div class="text text-block">
        <p>Після офіційного анонса в Twitter Ілона Маска електромобіля Tesla Model 3 ми можемо чітко побачити деякі з змін, які компанія внесла в електромобіль з часу анонса альфа-прототипу, показаного в березні 2016 року.</p>

        <img data-src="img/about/img-1.jpg" alt="" class="js-lazy">

        <p>Після офіційного анонса в Twitter Ілона Маска електромобіля Tesla Model 3 ми можемо чітко побачити деякі з змін, які компанія внесла в електромобіль з часу анонса альфа-прототипу, показаного в березні 2016 року.</p>
        <blockquote>Після офіційного анонса в Twitter Ілона Маска електромобіля Tesla Model 3 ми можемо чітко побачити деякі з змін, які компанія внесла в електромобіль з часу анонса альфа-прототипу, показаного в березні 2016 року.</blockquote>
      </div>
    </div>
  </div>

  <div class="section__block">
    <div class="container">
      <div class="row">
       {% for i in features %}
       <div class="col-lg-4 col-md-6">
         <!-- begin about-item -->
         <div class="about-item">
           <div class="about-item__img js-lazy" data-background-image="img/about/{{ i.img }}"></div>

           <div class="about-item__title title-underlined title-underlined--long">
             <h2 class="h2--lg">{{ i.title }}</h2>
           </div>

           <div class="about-item__text text text--gray">Після офіційного анонса в Twitter Ілона Маска електромобіля Tesla Model 3 ми можемо чітко побачити деякі з змін, які компанія </div>
         </div>
         <!-- end about-item -->
       </div>
       {% endfor %}
      </div>

      <!-- begin partners -->
      <div class="partners">
        <div class="row">
          {% for i in partners %}
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!-- begin partner -->
            <div class="partner">
              <img data-src="img/partners/{{ i.img }}" alt="" class="js-lazy">
            </div>
            <!-- end partner -->
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- end partners -->
    </div>
  </div>

  <div class="section__block has-no-pt">
    <div class="container">
      <div class="section__title title-underlined title-underlined--long">
        <h2 class="h2--lg">як ми досягли успіху</h2>
        <div class="text">Наша команда</div>
      </div>

      <!-- begin team -->
      <div class="team">
        <div class="row">
          {% for i in team %}
          <div class="col-md-3 col-sm-4 col-6">
            <!-- begin member -->
            <div class="member">
              <div class="member__img js-lazy" data-background-image="img/team/{{ i.img }}"></div>

              <div class="member__title">Володимир Іванов</div>

              <div class="member__subttl">Адміністратор салону</div>
            </div>
            <!-- end member -->
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- end team -->
    </div>
  </div>
</section>
<!-- end section -->