{%set
components = [
  {
    title: 'Трансмісія',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Кузов',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    active: true,
    title: 'Кузовне обладнання',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Гальма',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Охолоджувальна система',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Електрична система руху',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Електричні',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Передня вісь',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Передня подвіска',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'HVAC',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Технічне обслуговування та змащення',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Задня підвіска',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  },
  {
    title: 'Рульове управління',
    sublist: [
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' },
          { link: 'Interior Trim - Front Door' }
        ]
      },
      {
        title: 'Interior Trim',
        links: [
          { link: 'Interior Trim' },
          { link: 'Interior Trim' },
          { link: 'Interior Trim' }
        ]
      }
    ]
  }
]
%}

<!-- begin components-list -->
<div class="components-list js-accordion">
  {% for i in components %}
  <div class="components-list__item">
    <a href="#" class="components-list__title js-accordion-title{% if i.active %} is-active{% endif %}">{{ i.title }}</a>
    <ul class="components-list__list js-accordion-content{% if i.active %} is-active{% endif %}">
      {% for j in i.sublist %}
      <li class="components-list__list-item">
        <a href="#" class="components-list__subttl js-accordion-title">{{ j.title }}</a>
        <ul class="components-list__sublist components-sublist js-accordion-content">
          {% for k in j.links %}
          <li class="components-sublist__item"><a href="#" class="components-sublist__link">{{ k.link }}</a></li>
          {% endfor %}          
        </ul>
      </li>      
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
  
</div>
<!-- end components-list -->