{%set
contacts = [  
  {
    title: 'Телефони',
    meta: mixins.list(
      name = 'info-list',
      descr = true,
      modifications = { wrap: 'info-list--simple', item: '', link: '' },
      list = [
        { dt: 'Відділ продажу:', dd: '(068) 776-77-00' },
        { dt: 'Підримка клієнтів:', dd: '(050) 776-77-00' }
      ]
    ),
    icon: 'phone'
  },
  {
    title: 'Робочі години:',
    meta: mixins.list(
      name = 'info-list',
      descr = true,
      modifications = { wrap: 'info-list--simple', item: '', link: '' },
      list = [
        { dt: 'Пн - Сб:', dd: '10:00 - 19:00' },
        { dt: 'Нд:', dd: '10:00 - 17:00' }
      ]
    ),
    icon: 'clock'
  },
  {
    title: 'Email',
    meta: '<a href="mailto:info@olmaks.com.ua">info@olmaks.com.ua</a>',
    icon: 'envelope'
  },
  {
    title: 'Адреса',
    meta: 'м. Київ, вул. Миколи Грінченко, 18',
    icon: 'location'
  }
]
%}

{%set
fields = [
  { mod: 'input--sm', name: 'input', type: 'text', label: 'ПІБ<sup>*</sup>', placeholder: 'Введіть ПІБ', fieldClass: '' },
  { mod: 'input--sm', name: 'input', type: 'tel', label: 'Телефон<sup>*</sup>', placeholder: 'Введіть телефон', fieldClass: '' },
  { name: 'textarea', type: '', label: 'Ваше повідомлення', placeholder: 'Введіть ваше питання', fieldClass: '' }
]
%}

<!-- begin section -->
<section class="section section--up section--no-pad-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        {% include "partials/_aside-nav.html" %}
      </div>

      <div class="col-lg-9">
        <!-- begin contacts -->
        <div class="contacts">
          <div class="contacts__title">
            <h1 class="h2 h2--lg">зв’яжіться з нами</h1>
            <div class="h2-subttl--sm">Ми будемо раді будь-якому зверненню, пропозиції чи проханню. 
  Зателефонуйте або напишіть нам!</div>
          </div>

          <div class="contacts__contacts">
            {% for i in contacts %}
            <!-- begin contact -->
            <div class="contact contacts__contact">
              <div class="contact__title">
                <h5 class="h5 h5--ttn">{{ i.title }}</h5>
                {{ mixins.icon(i.icon) }}
              </div>

              <div class="contact__meta">{{ i.meta | safe }}</div>
            </div>
            <!-- end contact -->
            {% endfor %}
          </div>

          <div class="contacts__social">
            <div class="text text--gray title-underlined title-underlined--sm title-underlined--long title-underlined--center title-underlined--inherit">Станьте частиною нашої соціальної мережі:</div>

            {{ mixins.list(
              name = 'social',
              list = [
                { item: '', link: mixins.icon('facebook') , modItem: '', modLink: '' },
                { item: '', link: mixins.icon('youtube') , modItem: '', modLink: '' }
              ]
            ) }}
          </div>
        </div>
        <!-- end contacts -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- begin contact-manager -->
<div class="contact-manager js-lazy" data-background-image="img/bg-contact.jpg">
  <div class="container">
    <div class="contact-manager__img">
      <img data-src="img/manager.png" alt="" class="js-lazy ">
    </div>

    <div class="contact-manager__block">
      <div class="contact-manager__title">
        <h2 class="h2 h2--lg h2--white">Бажаєте зв’язатися з менеджером?</h2>
        <div class="text text--xs">Наш менеджер допоможе вам у вирішенні будь-яких питань</div>
      </div>

      <div class="contact-manager__btn">
        {{ mixins.btn(
          title = 'зв’язатися з менеджером',
          mod = ''
        ) }}
      </div>
    </div>

  </div>
</div>
<!-- end contact-manager -->

<!-- begin section -->
<section class="section section--pad-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-0">
        <div class="section__title">
          <h2 class="h2 h2--lg">контактна форма</h2>
        </div>
      </div>

      <div class="col-md-6 order-2 order-md-1">
        <div class="section__title">
          <h2 class="h2 h2--lg">Місцезнаходження</h2>
        </div>
      </div>

      <div class="col-md-6 order-1 order-md-2">
        <!-- begin form-block -->
        <div class="form-block contacts contacts--sm form form--block is-h-100">
          <div class="form-block__title">
            <h5 class="h5 h5--ttn">Дорогі клієнти,</h5>
            <div class="text text--gray text--sm">Заповнюючі форму, ви можете бути впевнені, що наш консультант відповість на будь-яке ваше питання</div>
          </div>

          <form>
            <div class="form__row">
              {% for i in fields %}
              <div class="form__field form__field-full">
                {{ mixins.input(
                  name = i.name,
                  label = i.label | safe,
                  mod = i.mod,
                  type = i.type,
                  placeholder = i.placeholder,
                  fieldClass = ''
                ) }}
              </div>
              {% endfor %}
              <div class="form__field form__field-full">
                {{ mixins.btn(
                  title = 'відправити',
                  href = false,
                  mod = 'btn--full'
                ) }}
              </div>
            </div>

            <div class="form__conf">Залишаючи ваші дані, ви погоджуєтеся з нашою <a href="#">політикою конфіденційності</a></div>
          </form>
        </div>
        <!-- end form-block -->
      </div>

      
      <div class="col-md-6 order-3">
        <!-- begin contacts -->
        <div class="contacts contacts--sm is-h-100">
          <div class="contacts__block">
            <div class="contacts__title">
              <div class="contacts__title-comb">
                {{ mixins.icon('location') }}
                <h5 class="h5 h5--ttn">Адреса</h5>
              </div>
              
              <div class="text text--gray text--sm">ТОВ Олмакс Груп,  м.Київ, вул. Миколи Грінченко 18</div>
            </div>
          </div>

          <div class="contacts__map">
            <div class="map" id="map"></div>
          </div>

          <div class="contacts__social">
            <div class="text text--gray title-underlined title-underlined--sm title-underlined--long title-underlined--center title-underlined--inherit">Станьте частиною нашої соціальної мережі:</div>

            {{ mixins.list(
              name = 'social',
              list = [
                { item: '', link: mixins.icon('facebook') , modItem: '', modLink: '' },
                { item: '', link: mixins.icon('youtube') , modItem: '', modLink: '' }
              ]
            ) }}
          </div>


        </div>
        <!-- end contacts -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->

