{%set
blocks = [
  {
    title: 'способи відправлення товару назад',
    subttl: 'Поверніть товар, який вам не підійшов не виходячі з дому або скористайтеся послугами пошти',
    items: [
      { img: 'nova-poshta.png', title: '«Нова пошта»', text: 'За допомогою доставки «Нова пошта» ви 
можете отримати товар навіть у найвіддаленіших 
куточках України. При купівлі товарів інших продавців
послуга після плати оплачується окремо від доставки' },
      { img: 'people.png', title: 'Адресна доставка по Києву', text: 'Доставка проводиться до входу в будівлю.
Вартість доставки замовлення на суму до 1000 грн - 50 грн.
Якщо сума замовлення становить понад
1000 грн - доставка безкоштовна' },
      { img: 'mover.png', title: 'Самовивіз', text: 'Самовивіз проводиться за адресою:
ТОВ Олмакс Груп м. Киів, вул. Миколи Грінченко, 18' }
    ]
  },
  {
    title: 'способи повернення оплати',
    subttl: 'Повертайте ваші гроші будь-яким зручним для вас способом',
    items: [
      { img: 'cash.png', title: 'Готівкою', text: 'Оплата готівкою при отриманні товару' },
      { img: 'card.png', title: 'Visa/MasterCard', text: 'Оплата замовлення онлайн банківською
картою Visa і MasterCard. оставка товару
можлива тільки після підтвердження платежу.' },      
      { img: 'privatbank.png', title: 'Миттєва розстрочка від ПриватБанку', text: 'Розтрочка узгоджується безпосереднью
з працівником банку' }
    ]
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        
        {% include "partials/_aside-nav.html" %}
      </div>

      <div class="col-lg-9">
        {{ mixins.textBlock('section-text--shadow') }}
      </div>
    </div>

    
    {% for i in blocks %}
    {% include "partials/_delivery-block.html" %}
    {% endfor %}


    
  </div>
</section>
<!-- end section -->