<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 order-3 order-sm-0">
        <div class="footer__logo">
          {{ mixins.icon('logo-green') }}
        </div>

        <div class="footer__copy">&copy; 2019 OlmaksGroup - Час обирати якість</div>

        <div class="footer__text-sm">Всі назви виробників, символи та описи, що використовуються в наших зображеннях і тексті, використовуються виключно для цілей ідентифікації.</div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 order-0 order-sm-1">
        <div class="footer__title title-underlined title-underlined--gray">
          <h6 class="h6">корисна Інформація</h6>
        </div>

        {{ mixins.list(
          name = 'nav',
          modifications = { wrap: 'nav--footer', item: '', link: '' },
          list = [
            { link: 'Про компанію Olmaks' },
            { link: 'Доставка і оплата' },
            { link: 'Сервісне обслуговування' },
            { link: 'Контакти' }
          ]
        ) }}
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 order-1 order-sm-2">
        <div class="footer__title title-underlined title-underlined--gray">
          <h6 class="h6">КЛІЄНСЬКЕ ОБСЛУГОВУВАННЯ</h6>
        </div>

        {{ mixins.list(
          name = 'nav',
          modifications = { wrap: 'nav--footer', item: '', link: '' },
          list = [
            { link: 'Мій кабінет' },
            { link: 'Рєестрація' },
            { link: 'Обмін та повернення' },
            { link: 'Політика конфіденційності' }
          ]
        ) }}
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 order-2 order-sm-3">
        <div class="footer__title title-underlined title-underlined--gray">
          <h6 class="h6">завжди на зв’язку</h6>
        </div>

         <!-- begin footer-contacts -->
          <div class="footer-contacts">
            <div class="footer-contacts__phone"><a href="tel:+380687767700">(068) 776-77-00</a></div>
            <div class="footer-contacts__phone"><a href="tel:+380507767700">(050) 776-77-00</a></div>

            <div class="footer-contacts__text">м. Київ, вул. Миколи Грінченко, 18</div>

            <a href="mailto:info@olmaks.com.ua" class="footer-contacts__link">info@olmaks.com.ua</a>

          </div>
          <!-- end footer-contacts -->
      </div>      
    </div>
  </div>
</footer>
<!-- end footer -->