<!-- begin model-gallery -->
<div class="model-gallery">
  <div class="model-gallery__slider">
    <button
      class="model-gallery__icon js-popup-open"
      data-popup-target="gallery"
      data-image-list='["360rotate/bmw/bmw_001.webp", "360rotate/bmw/bmw_002.webp", "360rotate/bmw/bmw_003.webp", "360rotate/bmw/bmw_004.webp"]'
    >
      {{ mixins.icon('360-degrees') }}
    </button>

    <div
      class="swiper-container js-model-gallery-slider"
    >
      <div class="swiper-wrapper">
        {% for i in range(0, 5) %}
        <div
          class="swiper-slide model-gallery__img js-lazy"
          
          data-background-image="./img/model-gallery/863.jpg"
          >
        </div>
        {% endfor %}
      </div>
    </div>
    <button class="model-gallery__prev js-model-gallery-prev"></button>
    <button class="model-gallery__next js-model-gallery-next"></button>
  </div>

  <div class="model-gallery__thumbs">
    <div class="swiper-container js-model-gallery-thumbs">
      <div class="swiper-wrapper">
        {% for i in range(0, 5) %}
        <button
          class="swiper-slide model-gallery__thumb js-lazy"
          data-background-image="./img/model-gallery/thumb.jpg"></button> 
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- end model-gallery -->