{%set
asideItems = [
  { sm: true },
  { sm: true },
  { sm: true }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-1 order-lg-0">
        <!-- begin news -->
        <div class="news">
          {% for i in range(0, 10) %}
          {% include "partials/_news-item.html" %}
          {% endfor %}

          <div class="news__pagination">
            {{ mixins.list(
              name = 'pagination',
              modifications = { wrap: '', item: '', link: '' },
              list = [
                { item: '', link: ' ', modItem: '', modLink: 'prev' },
                { item: '', link: '1', modItem: '', modLink: 'is-active' },
                { item: '', link: '2', modItem: '', modLink: '' },
                { item: '', link: '3', modItem: '', modLink: '' },
                { item: '', link: '...', modItem: '', modLink: 'is-inactive' },
                { item: '', link: ' ', modItem: '', modLink: 'next' }
              ]
            ) }}
          </div>
        </div>
        <!-- end news -->
      </div>

      <div class="col-lg-3 order-0 order-lg-1">
        <!-- begin aside -->
        <aside class="aside aside--news">
          <div class="aside__block aside__block-nav">
            <!-- begin news-nav -->
            <div class="news-nav">
              <div class="news-nav__title title-underlined title-underlined--long">
                <h5 class="h5">категорії новин</h5>
              </div>

              <div class="news-nav__nav">
                {{ mixins.list(
                  name = 'nav',
                  modifications = { wrap: 'nav--news', item: '', link: '' },
                  list = [
                    { link: 'Автоновини' },
                    { link: 'Новини про компанію' },
                    { link: 'Статті' },
                    { link: 'Нові продукти' },
                    { link: 'Огляди' }
                  ]
                ) }}
              </div>
            </div>
            <!-- end news-nav -->
          </div>

          <div class="aside__block">
            <div class="aside__title title-underlined title-underlined--long">
              <h5 class="h5">фільтр за тегами</h5>
            </div>

            {{ mixins.list(
              name = 'aside-filters',
              modifications = { wrap: '', item: '', link: '' },
              list = [
                { item: '', link: 'Авто', modItem: '', modLink: '' },
                { item: '', link: 'Tesla', modItem: '', modLink: '' },
                { item: '', link: 'Новини', modItem: '', modLink: '' },
                { item: '', link: 'Огляд', modItem: '', modLink: '' },
                { item: '', link: 'Авто', modItem: '', modLink: '' },
                { item: '', link: 'Tesla', modItem: '', modLink: '' },
                { item: '', link: 'Новини', modItem: '', modLink: '' },
                { item: '', link: 'Огляд', modItem: '', modLink: '' }

              ]
            ) }}
          </div>

          <div class="aside__block">
            <div class="aside__title title-underlined title-underlined--long">
              <h5 class="h5">популярні статті</h5>
            </div>

            {% for i in asideItems %}
            {% include "partials/_news-item.html" %}
            {% endfor %}
          </div>
        </aside>
        <!-- end aside -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->