<!-- begin section -->
<section class="section section--no-pad-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__title section__title-mb-sm title-underlined title-underlined--long">
          <h2 class="h2 h2--lg">КУЗОВ / БАМПЕР І КОМПОНЕНТИ - ПЕРЕДНіЙ для 2018 bmw i3 range extender</h2>
        </div>
      </div>
    </div>    
  </div>

  <!-- begin components -->
  <div class="components">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="components__show-btn">
            {{ mixins.btn(
              title = 'Показати компоненти',
              mod = 'btn--full btn--arrow js-toggle-components'
            ) }}
          </div>
          <div class="components__list js-components-list">            
            {% include "partials/_components-list.html" %}
          </div>
        </div>

        <div class="col-lg-9">
          <div class="components__img js-scale-container">
            <div class="components__img-in js-scale-img-wrap">
              <img class="js-lazy" data-src="img/components.jpg" width="463" height="341" alt="">              
            </div>
            <div class="components__img-controls">
                <button class="components__img-button components__img-plus js-scale-plus">+</button>
                <button class="components__img-button components__img-minus js-scale-minus">-</button>
                <button class="components__img-button components__img-reset js-scale-reset">reset</button>
              </div>
          </div>

          <div class="components__table js-bg-block">
            <div class="components__table-bg"></div>
            {% set searchTableNumber = true %}
            {% include "partials/tables/_table-search.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end components -->
</section>
<!-- end section -->