{%set
parts = [
  { img: '1_03.jpg', title: 'Трансмісія' },
  { img: '1_05.jpg', title: 'Кузов' },
  { img: '1_07.jpg', title: 'Кузовне обладнання' },
  { img: '1_09.jpg', title: 'Гальма' },
  { img: '1_15.jpg', title: 'Охолоджувальна 
система' },
  { img: '1_17.jpg', title: 'Електрична система 
руху' },
  { img: '1_18.jpg', title: 'Електричні' },
  { img: '1_19.jpg', title: 'Передня вісь' },
  { img: '1_24.jpg', title: 'Передня підвіска' },
  { img: '1_25.jpg', title: 'HVAC' },
  { img: '1_26.jpg', title: 'Технічне 
обслуговування та 
змащення' },
  { img: '1_27.jpg', title: 'Задня підвіска' },
  { img: 'wheel.png', title: 'Рульове управління' },
  { mod: 'part--lg', lg: true, img: 'accessories.jpg', title: 'АКСЕСУАРИ' }
]
%}

<!-- begin section -->
<section class="section section--color">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__title title-underlined title-underlined--long">
          <h3 class="h3">запчастини та аксесуари для твого електромобіля</h3>
        </div>
      </div>
    </div>

    <div class="row">
      {% for i in parts %}
      {% if i.lg %}

      <div class="col-lg-9 col-md-8 col-sm-6">
        <!-- begin part -->
        <div class="part {% if i.mod %} {{ i.mod }} {% endif %}js-lazy" data-background-image="img/parts/{{ i.img }}">
          <div class="part__title">
            <h4 class="h4">{{ i.title }}</h4>
          </div>

          <a href="#" class="part__btn btn-arrow">
            <span class="btn-arrow__title">Перейти до каталогу</span>
            <span class="btn-arrow__arrow"></span>
          </a>
        </div>
        <!-- end part -->
      </div>

      {% else %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <!-- begin part -->
        <div class="part {% if i.mod %} {{ i.mod }} {% endif %}js-lazy" data-background-image="img/parts/{{ i.img }}">
          <div class="part__title">
            <h4 class="h4">{{ i.title }}</h4>
          </div>

          <a href="#" class="part__btn btn-arrow">
            <span class="btn-arrow__title">Перейти до каталогу</span>
            <span class="btn-arrow__arrow"></span>
          </a>
        </div>
        <!-- end part -->
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- end section -->