<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__title title-underlined title-underlined--long">
          <h2 class="h2 h2--lg">запчастини кузова для 2018 bmw i3 range extender</h2>
        </div>
      </div>
    </div>

    <!-- begin parts-list -->
    <div class="parts-list">
      <div class="parts-list__img js-lazy" data-background-image="img/parts-list/2015-tesla-model-s-sedan-angular-front.jpg">
        <h5 class="h5">Кузов</h5>
      </div>

      <div class="parts-list__list">
        <div class="parts-list__left">
          {% for i in range(0, 40) %}
          <a href="#" class="parts-list__link list-link">Bumper & Components - Front</a>
          {% endfor %}
        </div>

        <div class="parts-list__right">
          {% for i in range(0, 40) %}
          <a href="#" class="parts-list__link list-link">Instrument Panel Components</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- end parts-list -->
  </div>
</section>
<!-- end section -->