<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__title section__title-mb-sm title-underlined title-underlined--long">
          <h2 class="h2 h2--lg">КУЗОВ / БАМПЕР І КОМПОНЕНТИ - ПЕРЕДНіЙ для 2018 bmw i3 range extender</h2>
        </div>
      </div>
    </div>    
  </div>

  <!-- begin components -->
  <div class="components has-bd-top">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="components__list">
            {% include "partials/_components-list.html" %}
          </div>
        </div>

        <div class="col-9">
          <div class="components__img">
            <img class="js-lazy" data-src="img/components.jpg" alt="">
          </div>

          <div class="components__table">
            {% include "partials/tables/_table-search.html" %}
          </div>
        </div>
      </div>
    </div>

    {# <div class="components__bottom"></div> #}
  </div>
  <!-- end components -->
</section>
<!-- end section -->