{%set
blocks = [
  {
    title: 'способи доставки',
    subttl: 'Отримуйте ваші товари не виходячі з дому або скористайтеся послугами пошти',
    items: [
      { img: 'nova-poshta.png', title: '«Нова пошта»', text: 'За допомогою доставки «Нова пошта» ви 
можете отримати товар навіть у найвіддаленіших 
куточках України. При купівлі товарів інших продавців
послуга після плати оплачується окремо від доставки' },
      { img: 'people.png', title: 'Адресна доставка по Києву', text: 'Доставка проводиться до входу в будівлю.
Вартість доставки замовлення на суму до 1000 грн - 50 грн.
Якщо сума замовлення становить понад
1000 грн - доставка безкоштовна' },
      { img: 'mover.png', title: 'Самовивіз', text: 'Самовивіз проводиться за адресою:
ТОВ Олмакс Груп м. Киів, вул. Миколи Грінченко, 18' }
    ]
  },
  {
    title: 'способи повернення оплати',
    subttl: 'Повертайте ваші гроші будь-яким зручним для вас способом',
    items: [
      { img: 'cash.png', title: 'Готівкою', text: 'Оплата готівкою при отриманні товару' },
      { img: 'card.png', title: 'Visa/MasterCard', text: 'Оплата замовлення онлайн банківською
картою Visa і MasterCard. оставка товару
можлива тільки після підтвердження платежу.' },      
      { img: 'privatbank.png', title: 'Миттєва розстрочка від ПриватБанку', text: 'Розтрочка узгоджується безпосереднью
з працівником банку' }
    ]
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="aside-nav-toggle">
          {{ mixins.btn(
            title = '',
            mod = 'btn--arrow btn--square js-burger',
            attributes = { 'data-target': 'aside' }
          ) }}
        </div>
        {% include "partials/_aside-nav.html" %}
      </div>

      <div class="col-lg-9">
        {{ mixins.textBlock('section-text--shadow') }}
      </div>
    </div>

    
    {% for i in blocks %}
    <!-- begin delivery-block -->
    <div class="delivery-block">
      <div class="row">
        <div class="col-12">
          <div class="section__title-mb-sm">
            <h2 class="h2 h2--lg">{{ i.title}}</h2>
            <div class="h2-subttl--sm">{{ i.subttl }}</div>
          </div>
        </div>

        {% for j in i.items %}
        <div class="col-md-4">
          <!-- begin delivery-item -->
          <div class="delivery-item">
            <div class="delivery-item__img">
              <img class="js-lazy" data-src="img/delivery/{{ j.img }}" alt="">
            </div>

            <div class="delivery-item__title">{{ j.title }}</div>

            <div class="delivery-item__text text text--xs text--gray">{{ j.text | safe }}</div>
          </div>
          <!-- end delivery-item -->
        </div>
        {% endfor %}
        
      </div>
    </div>
    <!-- end delivery-block -->
    {% endfor %}


    
  </div>
</section>
<!-- end section -->