{%set
asideSearch = {
  title: 'оберіть ваше авто',
  btn: {
    title: 'підбір під авто'
  },
  fields: [
    {
      name: 'select',
      mod: 'select--number',
      type: '',
      fieldClass: '',
      options: [
        { value: 'placeholder', option: 'Оберіть рік ...' },
        { value: 'рік', option: 'рік' },
        { value: 'рік', option: 'рік' },
        { value: 'рік', option: 'рік' }
      ],
      attributes: {
        'data-number': 1
      }
    },
    {
      name: 'select',
      mod: 'select--number',
      type: '',
      fieldClass: '',
      options: [
        { value: 'placeholder', option: 'Марка ...' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' },
        { value: 'Марка', option: 'Марка' }
      ],
      attributes: {
        'data-number': 2
      }
    },
    {
      name: 'select',
      mod: 'select--number',
      type: '',
      fieldClass: '',
      options: [
        { value: 'placeholder', option: 'Модель ...' },
        { value: 'Модель', option: 'Модель Модель Модель' },
        { value: 'Модель', option: 'Модель' },
        { value: 'Модель', option: 'Модель' },
        { value: 'Модель', option: 'Модель' },
        { value: 'Модель', option: 'Модель' },
        { value: 'Модель', option: 'Модель' },
        { value: 'Модель', option: 'Модель' },
        { value: 'Модель', option: 'Модель' },
        { value: 'Модель', option: 'Модель' },
        { value: 'Модель', option: 'Модель' }
      ],
      attributes: {
        'data-number': 3
      }
    },
    {
      name: 'select',
      mod: 'select--number',
      type: '',
      fieldClass: '',
      options: [
        { value: 'placeholder', option: 'Комплектація ...' },
        { value: 'Комплектація', option: 'Комплектація' },
        { value: 'Комплектація', option: 'Комплектація' }
      ],
      attributes: {
        'data-number': 4
      }
    }
  ]
}
%}

{%set
cards = [
  {
    img: '8.jpg',
    title: 'Задні гальмівні колодки к-кт MX та MS',
    btn: { cart: true },
    meta: true
  },
  {
    img: '8.jpg',
    title: 'Задні гальмівні колодки к-кт MX та MS',
    btn: { cart: true },
    meta: true
  },
  {
    img: '8.jpg',
    title: 'Задні гальмівні колодки к-кт MX та MS',
    btn: { cart: true },
    meta: true
  },
  {
    img: '8.jpg',
    title: 'Задні гальмівні колодки к-кт MX та MS',
    btn: { cart: true },
    meta: true
  },
  {
    img: '8.jpg',
    title: 'Задні гальмівні колодки к-кт MX та MS',
    btn: { cart: true },
    meta: true
  },
  {
    img: '8.jpg',
    title: 'Задні гальмівні колодки к-кт MX та MS',
    btn: { cart: true },
    meta: true
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div class="aside">
          {% include "partials/_aside-form.html" %}
          {% include "partials/_components-list-new.html" %}
        </div>
      </div>

      <div class="col-xl-9 col-lg-8">
        <div class="section__title top-search-line ">
          <h2 class="h2 title-underlined title-underlined--long">товари в наявності</h2>
          {{ mixins.input(
            name = 'select',
            mod = '',
            type = '',
            placeholder = '',
            value = '',
            fieldClass = '',
            options = [
              { value: '1', option: 'Цена по возрастанию' },
              { value: '2', option: 'Цена по возрастанию1' },
              { value: '3', option: 'Цена по возрастанию2' }
            ]
          ) }}
        </div>

        <div class="row">
          {% for i in cards %}
          <div class="col-xl-4 col-sm-6">            
              {% include "partials/_card.html" %}
          </div>
          {% endfor %}
        </div>

        {{ mixins.list(
          name = ' pagination',
          modifications = { wrap: 'section__pagination pagination--accent pagination--right', item: '', link: '' },
          list = [
            { item: '', link: ' ', modItem: '', modLink: 'prev' },
            { item: '', link: '1', modItem: '', modLink: 'is-active' },
            { item: '', link: '2', modItem: '', modLink: '' },
            { item: '', link: '3', modItem: '', modLink: '' },
            { item: '', link: '4', modItem: '', modLink: '' },
            { item: '', link: '...', modItem: '', modLink: 'is-inactive' },
            { item: '', link: '55', modItem: '', modLink: '' },
            { item: '', link: ' ', modItem: '', modLink: 'next' }
          ]
        ) }}
      </div>
    </div>
  </div>
</section>
<!-- end section -->