<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__title">
      <h2 class="h2 title-underlined title-underlined--long">інші доступні моделі</h2>
    </div>

    <div class="row">
      {% for i in range(0, 8) %}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a href="#" class="part part--model js-lazy" data-background-image="./img/car-new/570.jpg">
          <span class="part__title">2016 TESLA MODEL X90D</span>
          <span class="part__btn btn-arrow">
            <span class="btn-arrow__title">Перейти до каталогу</span>
            <span class="btn-arrow__arrow"></span>
          </span>
        </a>
      </div> 
      {% endfor %}
    </div>
  </div>
</section>
<!-- end section -->