<!-- begin section -->
<section class="section section--no-pad-bottom cabinet section--color">
  <div class="container">
    <div class="cabinet__block js-scroll-to-target js-cabinet-section" id="personal_data">
      <div class="row">
        <div class="col-12">
          <div class="section__title-mb-sm">
            <h2 class="h2 h2--lg">Зміна особистих даних</h2>
            <div class="h2-subttl--sm">Керуйте інформацією та налаштуваннями свого облікового запису</div>
          </div>
        </div>

        <div class="col-12">
          {% include "partials/cabinet/_cabinet-form.html" %}
        </div>
      </div>
    </div>

    <div class="cabinet__block js-scroll-to-target js-cabinet-section" id="history">
      <div class="row">
        <div class="col-12">
          <div class="section__title-mb-sm">
            <h2 class="h2 h2--lg">історія замовлень</h2>
            <div class="h2-subttl--sm">Переглядайте, керуйте та стежте за своїми замовленнями</div>
          </div>
        </div>

        <div class="col-12">
          {% include "partials/cabinet/_orders.html" %}
        </div>
      </div>
    </div>

    <div class="cabinet__block js-scroll-to-target js-cabinet-section" id="products">
      <div class="row">
        <div class="col-12">
          <div class="section__title-mb-sm">
            <h2 class="h2 h2--lg">обрані товари</h2>
            <div class="h2-subttl--sm">Додавайте будь-які товари легко</div>
          </div>
        </div>

        <div class="col-12">
          {% set searchTableCloseBtn = true %}
          {% include "partials/tables/_table-search.html" %}
        </div>
      </div>
    </div>

    
  </div>

  <div class="cabinet__block cabinet__block--last js-scroll-to-target js-cabinet-section" id="subscribe">
    <div class="container">
      <div class="section__title-mb-sm">
        <h2 class="h2 h2--lg">Підписка на новини</h2>
        <div class="h2-subttl--sm">Дізнавайтеся першими про наші новини та будьте в курсі про всі наші акції</div>
      </div>
    </div>
    {% include "partials/_subscribe.html" %}
  </div>

  
</section>
<!-- end section -->