<!-- begin section -->
<section class="section cabinet section--color">
  <div class="container">
    <div class="cabinet__block">
      <div class="row">
        <div class="col-12">
          <div class="section__title-mb-sm">
            <h2 class="h2 h2--lg">Зміна особистих даних</h2>
            <div class="h2-subttl--sm">Керуйте інформацією та налаштуваннями свого облікового запису</div>
          </div>
        </div>

        <div class="col-12">
          {% include "partials/cabinet/_cabinet-form.html" %}
        </div>
      </div>
    </div>

    <div class="cabinet__block">
      <div class="row">
        <div class="col-12">
          <div class="section__title-mb-sm">
            <h2 class="h2 h2--lg">історія замовлень</h2>
            <div class="h2-subttl--sm">Переглядайте, керуйте та стежте за своїми замовленнями</div>
          </div>
        </div>

        <div class="col-12">
          {% include "partials/cabinet/_orders.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->