{%set
results = [
  {
    cols: [
      { inner: '<div class="table--search__img">'+ mixins.icon('logo') +'<img src="img/search/img-1.jpg" alt=""></div>' },
      { inner: '42518918' },
      { inner: '<a href="#">Bumper Cover 1</a>' },
      { inner : 'нова', mod: 'table--search__condition' },
      { inner: '<div class="check"><div class="check__icon"></div><div class="check__title">в наявності</div></div>', mod: 'table--search__check' },
      { inner : '<div class="highlighted">26</div>', mod: 'table--search__ammount' },
      { inner: '<div class="table--search__price-inner"><strong>1246.75 UAH</strong><a href="#" class="btn btn--sm">'+ mixins.icon('cart') +'</a></div>', mod: 'table--search__price' }
    ]
  },
  {
    cols: [
      { inner: '<div class="table--search__img">'+ mixins.icon('logo') +'</div>' },
      { inner: '42518918' },
      { inner: 'Fender Liner Bolt' },
      { inner : 'нова', mod: 'table--search__condition' },
      { inner: 'під замовлення', mod: 'table--search__check' },
      { inner : '-', mod: 'table--search__ammount' },
      { inner: '<div class="table--search__price-inner"><strong>1246.75 UAH</strong><a href="#" class="btn btn--sm">'+ mixins.icon('cart') +'</a></div>', mod: 'table--search__price' }
    ]
  },
  {
    mod: 'is-inactive',
    cols: [
      { inner: '<div class="table--search__img">'+ mixins.icon('logo') +'<img src="img/search/img-1.jpg" alt=""></div>' },
      { inner: '42518918' },
      { inner: 'Fender Liner Bolt' },
      { inner : 'нова', mod: 'table--search__condition' },
      { inner: 'немає в наявності', mod: 'table--search__check' },
      { inner : '-', mod: 'table--search__ammount' },
      { inner: '<strong>1246.75 UAH</strong>', mod: 'table--search__price' }
    ]
  }
]
%}

{%set
resultsNumber = [
  {
    cols: [
      { inner: 1 },
      { inner: '42518918' },
      { inner: '<a href="#">Bumper Cover 1</a>' },
      { inner : 'нова' },
      { inner: '<div class="check"><div class="check__icon"></div><div class="check__title">в наявності</div></div>', mod: 'table--search__check' },
      { inner : '<div class="highlighted">26</div>', mod: 'table--search__ammount' },
      { inner: '<div class="table--search__price-inner"><strong>1246.75 UAH</strong><a href="#" class="btn btn--sm">'+ mixins.icon('cart') +'</a></div>', mod: 'table--search__price' }
    ]
  },
  {
    cols: [
      { inner: 2 },
      { inner: '42518918' },
      { inner: 'Fender Liner Bolt' },
      { inner : 'нова' },
      { inner: 'під замовлення' },
      { inner : '-' },
      { inner: '<div class="table--search__price-inner"><strong>1246.75 UAH</strong><a href="#" class="btn btn--sm">'+ mixins.icon('cart') +'</a></div>', mod: 'table--search__price' }
    ]
  },
  {
    mod: 'is-inactive',
    cols: [
      { inner: 3 },
      { inner: '42518918' },
      { inner: 'Fender Liner Bolt' },
      { inner : 'нова' },
      { inner: 'немає в наявності' },
      { inner : '-' },
      { inner: '<strong>1246.75 UAH</strong>' }
    ]
  },
  {
    cols: [
      { inner: 4 },
      { inner: '42518918' },
      { inner: '<a href="#">Bumper Cover 1</a>' },
      { inner : 'нова' },
      { inner: '<div class="check"><div class="check__icon"></div><div class="check__title">в наявності</div></div>', mod: 'table--search__check' },
      { inner : '<div class="highlighted">26</div>', mod: 'table--search__ammount' },
      { inner: '<div class="table--search__price-inner"><strong>1246.75 UAH</strong><a href="#" class="btn btn--sm">'+ mixins.icon('cart') +'</a></div>', mod: 'table--search__price' }
    ]
  },
  {
    cols: [
      { inner: 5 },
      { inner: '42518918' },
      { inner: 'Fender Liner Bolt' },
      { inner : 'нова' },
      { inner: 'під замовлення' },
      { inner : '-' },
      { inner: '<div class="table--search__price-inner"><strong>1246.75 UAH</strong><a href="#" class="btn btn--sm">'+ mixins.icon('cart') +'</a></div>', mod: 'table--search__price' }
    ]
  },
  {
    mod: 'is-inactive',
    cols: [
      { inner: 6 },
      { inner: '42518918' },
      { inner: 'Fender Liner Bolt' },
      { inner : 'нова' },
      { inner: 'немає в наявності' },
      { inner : '-' },
      { inner: '<strong>1246.75 UAH</strong>' }
    ]
  },
  {
    cols: [
      { inner: 7 },
      { inner: '42518918' },
      { inner: '<a href="#">Bumper Cover 1</a>' },
      { inner : 'нова' },
      { inner: '<div class="check"><div class="check__icon"></div><div class="check__title">в наявності</div></div>', mod: 'table--search__check' },
      { inner : '<div class="highlighted">26</div>', mod: 'table--search__ammount' },
      { inner: '<div class="table--search__price-inner"><strong>1246.75 UAH</strong><a href="#" class="btn btn--sm">'+ mixins.icon('cart') +'</a></div>', mod: 'table--search__price' }
    ]
  },
  {
    cols: [
      { inner: 8 },
      { inner: '42518918' },
      { inner: 'Fender Liner Bolt' },
      { inner : 'нова' },
      { inner: 'під замовлення' },
      { inner : '-' },
      { inner: '<div class="table--search__price-inner"><strong>1246.75 UAH</strong><a href="#" class="btn btn--sm">'+ mixins.icon('cart') +'</a></div>', mod: 'table--search__price' }
    ]
  },
  {
    mod: 'is-inactive',
    cols: [
      { inner: 9 },
      { inner: '42518918' },
      { inner: 'Fender Liner Bolt' },
      { inner : 'нова' },
      { inner: 'немає в наявності' },
      { inner : '-' },
      { inner: '<strong>1246.75 UAH</strong>' }
    ]
  }
]
%}

<!-- begin table -->
<div class="table table--search">
  {% if searchTableNumber %}
    <div class="table__tr">
      <div class="table__th">№</div>
      <div class="table__th">Part Id</div>
      <div class="table__th">Назва запчастини</div>
      <div class="table__th">Тип</div>
      <div class="table__th">Наявність</div>
      <div class="table__th">Склад</div>
      <div class="table__th">Ціна</div>
    </div>
    {% for i in resultsNumber %}
    <div class="table__tr{% if i.mod %} {{ i.mod }}{% endif %}">
      {% for j in i.cols %}
      <div class="table__td">{{ j.inner | safe }}</div>
      {% endfor %}
    </div>
    {% endfor %}

  {% else %}

    <div class="table__tr">
      <div class="table__th">Фото</div>
      <div class="table__th">Part Id</div>
      <div class="table__th">Назва запчастини</div>
      <div class="table__th">Тип</div>
      <div class="table__th">Наявність</div>
      <div class="table__th">Склад</div>
      <div class="table__th">Ціна</div>
    </div>
    {% for i in results %}
    <div class="table__tr{% if i.mod %} {{ i.mod }}{% endif %}">
      {% for j in i.cols %}
      <div class="table__td{% if j.mod %} {{ j.mod }}{% endif %}">{{ j.inner | safe }}</div>
      {% endfor %}
    </div>
    {% endfor %}

  {% endif %}
</div>
<!-- end table -->