{% macro input(name, mod, type = 'text', placeholder, value, options, fieldClass, attributes, label, button) %}
<!-- begin {{ name }} -->
<div class="{{ name }}{% if mod %} {{mod}}{% endif %}" {% for attr, attr_value in attributes %} {{ attr }}="{{ attr_value }}" {% endfor %}>
  {% if label %}
  <label>{{ label | safe }}</label>
  {% endif %}
  {% if name === 'input' %}
  <input type="{{ type }}" {% if fieldClass %}class="{{ fieldClass }}"{% endif %} {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} {% if value %}value="{{value}}"{% endif %}>

  {% elseif name === 'textarea' %}
  <textarea {% if fieldClass %}class="{{ fieldClass }}"{% endif %} {% if placeholder %}placeholder="{{ placeholder }}"{% endif %} {% if value %}value="{{value}}"{% endif %} {% for attr, attr_value in fieldAttributes %} {{ attr }}="{{ attr_value }}" {% endfor %}></textarea>

  {% elseif name === 'select' %}

  <select {% if fieldClass %}class="{{ fieldClass }}"{% endif %} data-type="{{ type }}">
    {% for i in options %}
    <option value="{{ i.value }}">{{ i.option }}</option>
    {% endfor %}
  </select>
  {% endif %}

  {% if button %}
  <button class="js-password-toggle">{{ button | safe }}</button>
  {% endif %}
</div>
<!-- end {{ name }} -->
{% endmacro %}
