.nav
  a
    text-transform: uppercase
    color: $c-text-100
    font-size: 16px
    +light
    +tr(color .3s)
    +hover
      color: #acacac
    +xs
      font-size: 15px
  li
    display: inline-block
    +notlast
      margin-right: 40px
    +lg
      display: block
      margin-bottom: 15px
      margin-right: 0
      +notlast
        margin-right: 0
    +xs
      margin-bottom: 10px
  &--footer
    li
      display: block
      +notlast
        margin-bottom: 20px
        +md
          margin-bottom: 10px
    a
      color: #727171
      font-size: 15px
      text-transform: none
  &--aside
    li
      display: block
      margin: 0
      +notlast
        margin: 0
        border-bottom: 1px solid  $c-border
    a
      display: block
      color: #383838
      font-size: 14px
      +bold
      padding: 10px
      background-color: #fff
      +tr(background-color .3s)
      +hover
        color: #fff
        background-color: $c-accent     
      &.is-active
        color: #fff
        background-color: $c-accent
  &--cabinet
    li      
      &:first-child
        +medium
        color: $c-text-100
        position: relative
        padding-right: 35px
        +before
          width: 1px
          height: 25px
          position: absolute
          background-color: $c-border
          top: 50%
          transform: translate(0, -50%)
          right: 0
    a
      display: block
      text-transform: none
      color: #a5a5a5
      font-size: 14px
      +light
      padding-top: 20px
      padding-bottom: 20px
      border-bottom: 2px solid transparent
      +tr(border-color .3s)
      &.is-active
        border-color: $c-accent
      +hover
        border-color: $c-accent

.aside-nav-toggle
  display: none
  margin-bottom: 15px
  +md
    display: block

.aside-nav
  padding-top: 12px
  box-shadow: 0px 0px 6px 0px rgba(0, 1, 1, 0.19)
  &.is-active
    // display: block
  +md
    display: none
  &__title
    padding-left: 10px
    +before
      left: 10px