.popup
  position: fixed
  z-index: 15
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: auto
  padding: 15px
  background-color: rgba(#000, .85)
  +vertical
  visibility: hidden
  opacity: 0
  +tr(opacity .3s, visibility .3s)
  &__inner
    display: inline-block
    vertical-align: middle
    font-size: 15px
    width: 100%
    background-color: #fff
    padding: 50px 20px
    position: relative
    +xs
      font-size: 14px
  &__close
    +icon-close(20, 1, currentColor)
    background-color: transparent
    position: absolute
    top: 15px
    right: 15px
    +tr(color .3s)
    +hover
      color: $c-accent
  &--active
    visibility: visible
    opacity: 1
